<ul [ngClass]="{'list-group-item': true,
                'list-group-item-success': getStatus() === 'switched-on',
                'list-group-item-danger': getStatus() === 'switched-off'}">
  <h4 [ngStyle]="{color:getColor()}">{{deviceName}} -- status {{getStatus()}}</h4>
  <button type="button" class="btn btn-success"
          (click)="onSwitchOn()"
          [disabled]="getStatus() === 'switched-on'">Switch-On</button>
  <button type="button" class="btn btn-danger"
          (click)="onSwitchOff()"
          [disabled]="getStatus() === 'switched-off'">Switch-Off</button>
</ul>
