<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>My devices</h2>
      <ul class="list-group">
        <app-device [deviceName]=deviceOne [status]="'switched-off'"></app-device>
        <app-device [deviceName]=deviceTwo [status]="'switched-on'"></app-device>
        <app-device [deviceName]=deviceThree [status]="'switched-off'"></app-device>
      </ul>
      <button type="button" class="btn btn-success"
              [disabled] = !isAuth
              (click)="onSwitchOn()">Swith-On</button>
    </div>
  </div>
</div>
